In [17]:
type(2)

int

In [18]:
type(4.28)

float

In [19]:
type(32 + 32)

int

In [20]:
degree_celsius =  26.0
9 / 5 * degree_celsius + 32

78.80000000000001

In [21]:
degree_celsius =  35.0
9 / 5 * degree_celsius + 32

95.0

In [22]:
difference = 20
double = 2 * difference
print(double)
difference = 5
print(double)

40
40

In [23]:
number = 3
print(number)
number = 2 * number
print(number)
number =  number * number

3
6

In [24]:
temp = x
x = y
y = temp

NameError: name 'x' is not defined

In [10]:
9 - 3

6

In [11]:
def convert_celsius_to_fahrenheit(degree_in_celsius):
    return 9 / 5 * degree_celsius + 32
convert_celsius_to_fahrenheit(38)

95.0

In [12]:
day_temp = 3
night_temp = 10
abs(day_temp - night_temp)

7

In [13]:
abs(-7) + abs(3.3)

10.3

In [14]:
round(3.8)

4

In [15]:
round(3.3)

3

In [16]:
round(3.5)

4

In [ ]:
round(4.5)

4

In [ ]:
round(3.141592653,2)

3.14

In [ ]:
import math
print('round:', round(3.141592653))
print('ceil:', math.ceil(3.141592653))
print('floor:', math.floor(3.141592653))

round: 3
ceil: 4
floor: 3

In [ ]:
import decimal
print(decimal.Decimal(2.765))
print(decimal.Decimal(3.165))
print(decimal.Decimal(5.6765))

2.765000000000000124344978758017532527446746826171875
3.16500000000000003552713678800500929355621337890625
5.67649999999999987920773492078296840190887451171875

In [ ]:
help(round)

Help on built-in function round in module builtins:

round(number, ndigits=None)
    Round a number to a given precision in decimal digits.

    The return value is an integer if ndigits is omitted or None.  Otherwise
    the return value has the same type as the number.  ndigits may be negative.

In [ ]:
help(pow)

Help on built-in function pow in module builtins:

pow(base, exp, mod=None)
    Equivalent to base**exp with 2 arguments or base**exp % mod with 3 arguments

    Some types, such as ints, are able to use a more efficient algorithm when
    invoked using the three argument form.

In [ ]:
pow(4, 4)

256

In [ ]:
pow(2, 4, 3)

1

In [ ]:
min(2, 3, 4)

2

In [ ]:
def f(x):
    squared_x = x * x
    return squared_x
f(5)

25

In [ ]:
def f(x):
    squared_x = pow(x, 2)
    return squared_x
f(4)

16

In [ ]:
def f(x):
    x = x * 3
result = f(3)
result

In [ ]:
print(result)
id(result)

None

4375870032

In [ ]:
def quadratic(a, b, c, x):
    first = a * x ** 2
    second = b * x
    third = c
    return first + second + third
quadratic(2, 3, 4, 0.5)
quadratic(2, 3, 4, 1.5)

13.0

In [ ]:
max(2, -3, min(4, 7), -5)

4

In [ ]:
'Aditya'
"Karthik"

'KartAdityahik'

In [ ]:
'''Should you want a string
​ 	that crosses multiple lines,
​ 	Use matched triple quotes.'''

'Should you want a string\n\u200b \tthat crosses multiple lines,\n\u200b \tUse matched triple quotes.'

In [ ]:
print('abcd', 2, 3)
print('abcd', 2, 3, sep='\n')

abcd 2 3
abcd
2
3

In [ ]:
psycho = 'DavidSalac'
print(psycho)

DavidSalac

In [ ]:
'Alan Turning' +  ' ' + 'Grace Hopper'

'Alan Turning Grace Hopper'

In [ ]:
'NH' + 3 # This will not work. You cannot add a str and int type.

TypeError: can only concatenate str (not "int") to str

In [ ]:
'Four Score and ' + str(7) + ' years ago'

'Four Score and 7 years ago'

In [ ]:
int('0')
int('11')
int('-324')
float('-324.40')

-324.4

In [ ]:
'AT' * 5

'ATATATATAT'

In [ ]:
'and ' * 5

'and and and and and '

In [ ]:
def convert_celsius(fahrenheit):
    return (fahrenheit - 32.0) * 5.0 / 9.0
convert_celsius(54)

12.222222222222221

In [ ]:
# Converting Numeric Values
def convert_celsius():
    fahrenheit = float(input('Please enter temperature in Fahrenheit:'))
    celsius= (fahrenheit - 32.0) * 5.0 / 9.0
    print('Temperature in celsius is:', celsius)

In [ ]:
PI = 3.14159265359
name =  'PI'
print('{0} is {1:.2f}'.format('PI', PI))

PI is 3.14

In [ ]:
PI = 3.14159265359
name =  'PI'
print(f'{name} is {PI:.2f}')

PI is 3.14

In [ ]:
a_str = 'EAS503'
an_int = 113
a_float = 92.3
print(a_str, an_int, a_float)

EAS503 113 92.3

In [ ]:
line1 = 'This is the first line.\n'
line2 = 'This is the second line.'
lines = line1 + line2

In [ ]:
course_number = 'EAS203'
class_size = 113
class_average = '92.3'

str_format = '{}'.format(course_number)
f_string = f'{course_number}'

print(str_format)
print(f_string)

EAS203
EAS203

In [ ]:
course_number = 'EAS503'
class_size = 113
class_average = 92.3
f_string = f'The course number is {course_number}. It has {class_size} students.'

print(f_string)

The course number is EAS503. It has 113 students.

In [ ]:
course_number = 'EAS503'
class_size = 113
class_average = 92.3
f_string = f'The course number is {course_number:<10}. It has {class_size:<10} students. The class average is {class_average:<10}.'

print(f_string)

The course number is EAS503    . It has 113        students. The class average is 92.3      .

In [ ]:
# Specify the number of spaces use.
course_number = 'EAS503'
class_size = 113
class_average = 92.3
f_string = f'The course number is {course_number:10}. It has {class_size:10} students. The class average is {class_average:10}'

print(f_string)

The course number is EAS503    . It has        113 students. The class average is       92.3

In [ ]:
number = 123456
f'{number:,}'

'123,456'

In [ ]:
number = 123456.2345
f'{number:,.2f}'

'123,456.23'

In [ ]:
f'{3.5:.0f}'
f'{4.5:.0f}'

'4'

In [ ]:
title = '|' + '{:^51}'.format('Cereal Yields (kg/ha)') + '|'
line = '+' + '-'*15 + '+' + ('-'*8 + '+')*4
row = '| {:<13} |' + ' {:6,d} |'*4
header = '| {:^13s} |'.format('Country') + (' {:^6d} |'*4).format(1980, 1990,
                                                                  2000, 2010)
print('+' + '-'*(len(title)-2) + '+',
      title,
      line,
      header,
      line,
      row.format('China', 2937, 4321, 4752, 5527),
      row.format('Germany', 4225, 5411, 6453, 6718),
      row.format('United States', 3772, 4755, 5854, 6988),
      line,
      sep='\n')

+---------------------------------------------------+
|               Cereal Yields (kg/ha)               |
+---------------+--------+--------+--------+--------+
|    Country    |  1980  |  1990  |  2000  |  2010  |
+---------------+--------+--------+--------+--------+
| China         |  2,937 |  4,321 |  4,752 |  5,527 |
| Germany       |  4,225 |  5,411 |  6,453 |  6,718 |
| United States |  3,772 |  4,755 |  5,854 |  6,988 |
+---------------+--------+--------+--------+--------+

In [ ]:

title = '|' + '{:^51}'.format('Cereal Yields (kg/ha)') + '|'
line = '+' + '-'*15 + '+' + ('-'*8 + '+')*4
row = '| {:<13} |' + ' {:6,d} |'*4
header = '| {:^13s} |'.format('Country') + (' {:^6d} |'*4).format(1980, 1990,
                                                                  2000, 2010)
file_content = '\n'.join(('+' + '-'*(len(title)-2) + '+',
      title,
      line,
      header,
      line,
      row.format('China', 2937, 4321, 4752, 5527),
      row.format('Germany', 4225, 5411, 6453, 6718),
      row.format('United States', 3772, 4755, 5854, 6988),
      line))

with open('test_file2.txt', 'w') as file:
    file.wmyrite(file_content)

In [ ]:
my_string = '   AAABBCC   '
print(my_string, 'Dummy')
print(my_string.strip())

   AAABBCC    Dummy
AAABBCC

In [ ]:
my_string = 'ABBCCCA'
print(my_string.strip('A'))
my_string = '    ABBCCCA'
print(my_string.strip('A'))

BBCCC
    ABBCCC

In [ ]:
my_string = '   ABBCCC  '
print(my_string, 'Dummy')
print(my_string.lstrip(), 'Dummy')

   ABBCCC   Dummy
ABBCCC   Dummy

In [ ]:
my_string = '   ABBCCC  '
print(my_string, 'Dummy')
print(my_string.rstrip(), 'Dummy')

   ABBCCC   Dummy
   ABBCCC Dummy

In [ ]:
my_string = 'EAS503'
print(my_string.islower())

False

In [ ]:
my_string = 'EAS503'
print(my_string.isupper())

True

In [ ]:
my_string = 'eas503'
print(my_string.islower())

True

In [ ]:
my_string = 'amazon is one of the online shopping platform'
print(my_string.title())

Amazon Is One Of The Online Shopping Platform

In [ ]:
my_string = 'amazon is one of the online shopping platform'
print(my_string.capitalize())

Amazon is one of the online shopping platform

In [ ]:
my_string = 'amazon is one of the online shopping platform'
print(my_string.swapcase())

AMAZON IS ONE OF THE ONLINE SHOPPING PLATFORM

In [ ]:
my_string = 'EAS503'
print(my_string.isalpha())
my_string = 'EAS'
print(my_string.isalpha())

False
True

In [ ]:
my_string = 'EAS503'
print(my_string.isalnum())

True

In [ ]:
my_string = 'EAS'
print(my_string.startswith('EAS'))

True

In [ ]:
my_string = 'Aditya'
print(my_string.endswith('ad'))

False

In [ ]:
my_string = 'ABBCCC'
print(my_string.find('BB'))
print(my_string.find('B'))
print(my_string.find('AC'))

1
1
-1

In [ ]:
my_string = 'ABBCCC'
print(my_string.index('AC'))

ValueError: substring not found

In [ ]:
my_string = 'ABBCCC'
print(my_string.count('C'))
print(my_string.count('CC'))
print(my_string.count('CCC'))

3
1
1

In [ ]:
my_string = '(EAS503)'
tmp1 = my_string.replace('(', ' ')
print(tmp1)
tmp2 = tmp1.replace(')', '')
print(tmp2)

 EAS503)
 EAS503

In [ ]:
my_string = '(EAS503)'
print(my_string.replace('(', '').replace(')', ''))

EAS503

In [ ]:
#pretends zeros to a string; returns a new string
my_string = 'EAS503'
my_string.zfill(8)

'00EAS503'

In [ ]:
my_string = '123'
my_string.zfill(6)

'000123'

In [ ]:
years = ('1900','1924', '1950', '1990')
'_'.join((years))

'1900_1924_1950_1990'

In [ ]:
def string_exercise1(): 
    print('They\'ll hibernate during the winter.')
    print("They\'ll hibernate during the winter.")
string_exercise1

In [ ]:
special_character = set("!@#$^")
print(special_character)
len(special_character)

{'$', '#', '!', '^', '@'}

5

In [ ]:
is_superuser = True
is_staff = True
is_active = False
if is_superuser or (is_staff and is_active):
    print('Enter!')
else:
    print('You Shall Not Pass!')

Enter!

In [ ]:
is_staff = True
is_active = True
if is_staff and is_active:
    print('Enter!')
else:
    print('You Shall Not Pass!')

Enter!

In [9]:
value = input('Enter the pH level: ')
if len(value) > 0:
    ph = float(value) 
    if ph < 7.0:
        print(ph, " is acidic.")
    elif ph > 7.0:
        print(ph, " is basic.")
    else:
        print(ph, " is neutral.")

else:
    print('No pH value was given!')

No pH value was given!

In [10]:
# Implement the min() function for three inputs
def my_min():
    number1 = int(input('Enter first integer: '))
    number2 = int(input('Enter second integer: '))
    number3 = int(input('Enter third integer: '))

    minimum = number1  

    if number2 < minimum:
        minimum = number2

    if number3 < minimum:
        minimum = number3

    print('Minimum value is', minimum)

In [11]:
grades = ['A', 'b', 'C', 'D', 'F']
days_in_months= [0, 31, 28, 31, 30, 31, 30, 31, 31, 31, 30, 31,30, 31]
grades_count = [20, 40, 10, 2, 3]

In [12]:
grades[0]
grades[2]
grades[1]

'b'

In [13]:
grades[2:4]
grades[1::2]

['b', 'D']

In [14]:
grades = ['A', 'B', 'C', 'D', 'F']
grades[-1]  
grades[::-1]

['F', 'D', 'C', 'B', 'A']

In [15]:
grades = ['A', 'B', 'C', 'D', 'F']
grades[0] = 'a'
grades[1:2] = 'a'
grades[2:] = ['d', 'f']

In [21]:
grades = ['A', 'B', 'C', 'D', 'F']
del grades[0]
del grades[1:3]
del grades

In [19]:
grades1 = ['A', 'B', 'C']
grades2 = ['D', 'F']
grades = grades1 + grades2
print(grades)

['A', 'B', 'C', 'D', 'F']

In [23]:
grades = ['A', 'B', 'C', 'D', 'F']
grades *= 3
print(grades)

['A', 'B', 'C', 'D', 'F', 'A', 'B', 'C', 'D', 'F', 'A', 'B', 'C', 'D', 'F']

In [1]:
my_tuple = (1, 2, 3, [4, 5, 6])
my_tuple[3].append(7)
print(my_tuple)

(1, 2, 3, [4, 5, 6, 7])

In [2]:
my_string = 'Doe, John'
print(my_string[0])
print(my_string[-1])
print(my_string[2])

D
n
e

In [3]:
my_string = 'Doe, John'
print(my_string.split())
print(my_string.split(','))
print(my_string.split(', '))

['Doe,', 'John']
['Doe', ' John']
['Doe', 'John']

In [4]:
date = '05-23-2023'

month, day, year = date[:2], date[3:5], date[6:]
print(month, day, year)
print(int(month), int(day), int(year))

05 23 2023
5 23 2023

In [5]:
date = '05-23-2023'
print(date.split('-'))

month, day, year = date.split('-')
print(month, day, year)
print(int(month), int(day), int(year))

['05', '23', '2023']
05 23 2023
5 23 2023

In [6]:
#Limiting the splits
my_string = 'range=start=3;end=20;step=2'
print(my_string.split('=', 1))

['range', 'start=3;end=20;step=2']

In [7]:
# Extract the key-value pairs
my_string = 'range=start=3;end=20;step=2'
range_options = my_string.split('=', 1)[1]
start, end, step = range_options.split(';')
start = start.split('=')[1] # or [-1]
end = end.split('=')[1] # or [-1]
step = step.split('=')[1] # or [-1]
print(start, end, step)

3 20 2

In [8]:
long_string='First line\nSecond line\nThird line'
print(long_string.split())
print(long_string.split('\n'))
print(long_string.splitlines())

['First', 'line', 'Second', 'line', 'Third', 'line']
['First line', 'Second line', 'Third line']
['First line', 'Second line', 'Third line']

In [9]:
my_string = 'EaS503!'

def char_type(char):
    if 'A' <= char <= 'Z':
        return 'Upper Case'
    elif 'a' <= char <= 'z':
        return 'Lower Case'
    elif '0' <= char <= '9':
        return 'Digit'
    else:
        return 'Not Alpha Numeric'


print(my_string[0], char_type(my_string[0]))
print(my_string[1], char_type(my_string[1]))
print(my_string[2], char_type(my_string[2]))
print(my_string[3], char_type(my_string[3]))
print(my_string[4], char_type(my_string[4]))
print(my_string[5], char_type(my_string[5]))
print(my_string[6], char_type(my_string[6]))

E Upper Case
a Lower Case
S Upper Case
5 Digit
0 Digit
3 Digit
! Not Alpha Numeric

In [10]:
#For loops
values = [4, 10, 3, 8, -6]
for i in range (len(values)):
    print(i)

0
1
2
3
4

In [12]:
values = [4, 10, 3, 8, -6]
for i in range(len(values)):
    print(i, values[i])

0 4
1 10
2 3
3 8
4 -6

In [14]:
#using enumerate
values = [4, 10, 3, 8, -6]
for index, value in enumerate(values):
    print(index, value)

0 4
1 10
2 3
3 8
4 -6

In [19]:
values = [4, 10, 3, 8, -6]
for i in range(len(values)):
    values[i] = values[i] * 2
print(values)

[8, 20, 6, 16, -12]

In [20]:
metals = ['Li', 'Na', 'K']
weights = [6.941, 22.98976928, 39.0983]
for i in range(len(metals)):
    print(metals[i], weights[i])

Li 6.941
Na 22.98976928
K 39.0983

In [21]:
#Zip file example
metals = ['Li', 'Na', 'K']
weights = [6.941, 22.98976928, 39.0983]
for metals, weights in zip(metals,weights):
    print(metals, weights)

Li 6.941
Na 22.98976928
K 39.0983

In [22]:
elements = [['Li', 'Na', 'K'], ['F', 'Cl', 'Br']]
for inner_list in elements:
    for item in inner_list:
        print(item)

Li
Na
K
F
Cl
Br

In [28]:
info = [
    ['Isaac Newton', 1643, 1727],
    ['Charles Darwin', 1809, 1882],
    ['Alan Turing', 1912, 1954, 'alan@bletchley.uk']
]
for item in info:
    print(len(item))

3
3
4

In [30]:
x = [1, 7, 3]
sum = 0
for ele in x:
    sum = sum * 10
print(ele)

3

In [31]:
string1 = '1134000234'
string2 = ''.join(sorted([ele for ele in string1]))
string3 = ''.join(sorted([ele for ele in string1], reverse=True))
print(string1, string2, string3)

1134000234 0001123344 4433211000

In [32]:
store = [0] * 10

for char in string1:
    index = int(char)
    store[index] += 1

sorted_string = ''
for idx, ele in enumerate(store):
    sorted_string += str(idx) * ele
print(sorted_string)

0001123344

In [33]:
# Sum of an Integer
number = 23456
sum = 0
while number:
    sum += number %10
    number  = number // 10
print(sum)

20

In [36]:
# File handling
filename = ''
with open(filename, 'r') as file:
    for line in file:
        if not line.strip():
            continue

FileNotFoundError: [Errno 2] No such file or directory: ''

In [39]:
my_list = [1,2,3,4]
total = 0
count = 0
for value in my_list:
   total += value
   count += 1
average = total / count
print(average)

2.5

In [42]:
unique_values = []
for ele in Sequence:
    if ele not in unique_values:
        unique_values.append(ele)

NameError: name 'Sequence' is not defined

In [43]:
def sum_list(input_list):
    summed_values = 0
    for value in input_list:
        summed_values += value
    return summed_values
print(sum_list([1,2,3,4]))

10

In [7]:
def avg_list(input_list):
    summed_values = 0
    number_of_values = 0
    for value in input_list:
        summed_values += value
        number_of_values += 1
    return summed_values / number_of_values
print(avg_list([1,2,3,4]))

2.5

In [10]:
def avg_list(input_list):
    return sum(input_list) / len(input_list)
print(avg_list([1,2,3,4]))

2.5

In [16]:
def mul_list(input_list):
    output = []
    for ele in input_list:
        output.append(ele * 2)
    return output
print(mul_list([1,2,3,4]))

[2, 4, 6, 8]

In [21]:
def pow_list(input_list, power):
    output = []
    for ele in input_list:
        output.append(ele ** power)
    return output
print(pow_list([1,2,3,4], 2))

[1, 4, 9, 16]

In [27]:
def remove_duplicates(input_list):
    return list(set(input_list))
print(remove_duplicates([1, 2, 3, 4, 4, 5, 1]))

[1, 2, 3, 4, 5]

In [29]:
summed_values = 0  # a container to store the sum of interger values collected
number_count = 0  # a container to store the number of integer values collected

input_string = input('Enter an integer. Enter nothing to quit: ')

while input_string:
    summed_values += int(input_string)
    number_count += 1
    input_string = input('Enter an integer. Enter nothing to quit: ')


average = summed_values / number_count

print('The average of %d numbers is %f' %(number_count, summed_values))

ZeroDivisionError: division by zero

In [30]:
summed_values = 0  # a container to store the sum of interger values collected
number_count = 0  # a container to store the number of integer values collected

number = int(input('Enter an integer. Enter negative number to quit: '))

while number >=0:
    summed_values += int(number)
    number_count += 1
    number = int(input('Enter an integer. Enter nothing to quit: '))


average = summed_values / number_count

print('The average of %d numbers is %f' %(number_count, summed_values))

ValueError: invalid literal for int() with base 10: ''

In [31]:
test_grades = 0  # a container to store the sum of interger values collected
number_tests = 0  # a container to store the number of integer values collected

number = int(input('Enter a test grade. Enter negative number to quit: '))

while number >=0:
    test_grades += int(number)
    number_tests += 1
    number = int(input('Enter a test grade. Enter negative number to quit: '))


average = test_grades / number_tests


if   90 <= average:
    letter_grade = 'A'
elif 80 <= average <= 89:
    letter_grade = 'B'
elif 70 <= average <= 79:
    letter_grade = 'C'
elif 60 <= average <= 69:
    letter_grade = 'D'
elif 60 >= average:
    letter_grade = 'F'


print(average, letter_grade)

ValueError: invalid literal for int() with base 10: ''

In [33]:
my_list = [1, 2, 3, 4]
new_list = []
for ele in my_list:
    tmp = ele * ele
    new_list.append(tmp)
print(new_list)

[1, 4, 9, 16]

In [36]:
my_list = [1, 2, 3]
new_list = []
for ele in my_list:
    tmp = ele * 10
    new_list.append(tmp)
new_list = [ele*10 for ele in my_list]
print(new_list)

[10, 20, 30]

In [40]:
animal = 'buffalo'
[char.upper() for char in animal]

['B', 'U', 'F', 'F', 'A', 'L', 'O']

In [43]:
students = ['john', 'jane', 'doe']
[student[0].upper() + student[1:] for student in students]
students = ['john', 'jane', 'doe']
print([student.title() for student in students])

['John', 'Jane', 'Doe']

In [44]:
numbers = range(20)
even = [number for number in numbers if number % 2 == 0 ]
odd = [number for number in numbers if number % 2 != 0 ]

In [45]:
days_in_months = {
    'Jan': 31,
    'Feb': (28,29),
    'Mar': 31,
    'Apr': 30,
    'May': 31,
    'Jun': 30,
    'Jul': 31,
    'Aug': 31,
    'Sep': 30,
    'Oct': 31,
    'Nov': 30,
    'Dec': 31,
}

In [46]:
my_dict = {
    'name': 'john',
    'email': 'john@email.com',
    'id': 1234,
    'major': 'Engineering'
}

In [48]:
my_dict = {
    'name': 'john',
    'email': 'john@email.com',
    'id': 1234,
    'major': 'Engineering'
}
for key, value in my_dict.items():
    print(f'key is {key} and value is {value}')

key is name and value is john
key is email and value is john@email.com
key is id and value is 1234
key is major and value is Engineering

In [49]:
x = {1: True, 2: [3, 4, 5]}
y = x.copy()
x[1] = False
print(x, y)

{1: False, 2: [3, 4, 5]} {1: True, 2: [3, 4, 5]}

In [50]:
x = {1: True, 2: [3, 4, 5]}
y = x.copy()
x[2].append(6)
print(x, y)

{1: True, 2: [3, 4, 5, 6]} {1: True, 2: [3, 4, 5, 6]}

In [51]:
new_student = {}.fromkeys(
    ['name', 'email', 'id', 'major'], 'missing')

my_dict = {}.fromkeys(range(5), 'iammissing')

In [52]:
my_dict = {
    'name': 'john',
    'email': 'john@email.com',
    'id': 1234,
    'major': 'Engineering'
}
my_dict.get('name', None) # default
my_dict.get('name', False)
my_dict.get('name', 'defaultname')

'john'

In [53]:
my_dict = {
    'name': 'john',
    'email': 'john@email.com',
    'id': 1234,
    'major': 'Engineering'
}
del my_dict['name']

In [57]:
#Remove the last item from dict
my_dict = {
    'name': 'john',
    'email': 'john@email.com',
    'id': 1234,
    'major': 'Engineering'
}
my_dict.popitem()

('major', 'Engineering')

In [58]:
my_dict = {
    'name': 'john',
    'email': 'john@email.com',
    'id': 1234,
    'major': 'Engineering'
}
my_dict.update({'Graduate Year': 2024})

In [59]:
my_dict = {}
if 'Grades' not in my_dict:
    my_dict['Grades'] =  []
my_dict['Grades'].append(3)

In [60]:
from collections import Counter
days_in_months = [0, 31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]

Counter(days_in_months)

Counter({31: 7, 30: 4, 0: 1, 28: 1})

In [68]:
def square(num):

    square2 = lambda num: num * num


print(square2(9))

81

In [72]:
add = lambda x, y: x + y
print(add(2, 3))

5

In [73]:
mul = lambda x, y: x * y
print(mul(2, 3))

6

In [74]:
my_list = [2, 3, 4]

# double this list

# method 1 - define a square function

def square_list(my_list):
    new_list = []
    for ele in my_list:
        new_list.append(ele * ele)

    return new_list

print(square_list(my_list))

# method 2 - list comprehension

print([ele*ele for ele in my_list])

# method 3 - use lambda with map
map(lambda variables (comma separated): expression)

print(list(map(lambda ele: ele*ele, my_list)))


# map objects are a generator. How many times can you iterate over them?

SyntaxError: invalid syntax (310417651.py, line 21)

In [75]:
students = ['john', 'jane', 'doe']
# make upper case


# method 1 create new list and loop
new_list = []
for student in students:
    new_list.append(student.title())

print(new_list)

# method 2 -- use list comprehension

print([student[0].upper()+student[1:] for student in students])

# method 3 -- use lambda

print(list(map(lambda student: student.title(), students)))

['John', 'Jane', 'Doe']
['John', 'Jane', 'Doe']
['John', 'Jane', 'Doe']

In [76]:
my_dict = [{'value': '34.4'}, {'value': '45.3'}, {'value': '73.4'}]

print(list(map(lambda ele: {'Value': float(ele['value'])}, my_dict)))

[{'Value': 34.4}, {'Value': 45.3}, {'Value': 73.4}]

In [ ]:
years = range(1970, 2000)

def is_leap_year(year):
    if year % 4 == 0:
        return  True
        else:
            return False

In [4]:
#Sometimes you want to build a class that simply contains data and no added functionality. For this, use use namedtuple
class Point:
    def __init__(self, x, y):
        self.x = x
        self.y = y
p1 = Point(10, 20)
p2 = Point(10, 20)
print(p1)
print(p1 == p2)
print(p1 is p2)

<__main__.Point object at 0x1060cdd10>
False
False

In [5]:
from collections import namedtuple
Point = namedtuple('Point', 'x y')

p1 = Point(10, 10)
p2 = Point(10, 10)
print(p1)
print(p2)
print(p1 == p2)
print(p1 is p2)

Point(x=10, y=10)
Point(x=10, y=10)
True
False

 Equality vs Reference
 
== is for value equality

is is for reference equality

In [6]:
x = {1: 2, 3:4}
y = x
print(x == y)
print(x is y)

x = {3:4, 1:2}
y = {1:2, 3:4}
print(x == y)
print(x is y)

True
True
True
False

Passing in a mutable object to a class

In [ ]:
class ScoreList():
    def __init__(self, scores):
        self.scores = scores

    def average(self):
        return sum(self.scores) / len(self.scores)

l1 = [80, 90, 95, 92, 85]
scores = ScoreList(l1) 
print(f'The final score is {scores.average()}.') 
l1.pop()
print(f'The final score is {scores.average()}.')

 repr vs str
 
__repr__ - a method that returns a string containing an object’s printed representation. Its purpose is to unambiguous

__str__ - a method that also returns a string representation of an object, but it is supposed to be human readable.

print() will first try to use __str__. If that is not available, then it will use __repr__. That if that is not available, then it will use the parents __repr__.

In [10]:
class a:
    def __init__(self, value):
        self.value = value
    def __repr__(self):
        return f'__repr__: {self.value}'
    def __str__(self):
        return f'__str__: {self.value}'
print(a(1))
a(1)

__str__: 1

__repr__: 1

NamedTuple
You can also use the NamedTuple class to build a data class. The benefit is that you can overwrite default functions, for example `str.

In [11]:
from typing import NamedTuple

class Point(NamedTuple):
    x: int
    y: int

    def __str__(self):
        return f'x: {self.x}; y: {self.y}'

p1 = Point(10, 10)
p2 = Point(10, 10)
print(p1)
print(p2)
print(p1 == p2)
print(p1 is p2)

x: 10; y: 10
x: 10; y: 10
True
False

Data Class:

A way to build a data class to use the dataclass operator

In [12]:
from dataclasses import dataclass

@dataclass
class Point:
    x: int
    y: int

    def __str__(self):
        return f'x: {self.x}; y: {self.y}'

p1 = Point(10, 10)
p2 = Point(10, 10)
print(p1)
print(p2)
print(p1 == p2)
print(p1 is p2)

x: 10; y: 10
x: 10; y: 10
True
False

In [13]:
from dataclasses import dataclass

@dataclass
class InventoryItem:
    """Class for keeping track of an item in inventory."""
    name: str
    unit_price: float
    quantity_on_hand: int = 0

    def total_cost(self) -> float:
        return self.unit_price * self.quantity_on_hand

In [14]:
class InventoryItem:
    def __init__(self, name: str, unit_price: float, quantity_on_hand: int = 0):
        self.name = name
        self.unit_price = unit_price
        self.quantity_on_hand = quantity_on_hand

Getting data as a Dict

In [16]:
from collections import namedtuple
from typing import NamedTuple
from dataclasses import dataclass
import dataclasses 

Pointnamedtuple = namedtuple('Point', 'x y')

class PointNamedTuple(NamedTuple):
    x: int
    y: int
    def __str__(self):
        return f'x: {self.x}; y: {self.y}'
@dataclass
class Pointclass:
    x: int
    y: int
    def __str__(self):
        return f'x: {self.x}; y: {self.y}'

p1 = Pointnamedtuple(10, 12)
p2 = PointNamedTuple(10, 12)
p3 = Pointclass(10, 12)
print(p1._asdict())
print(p2._asdict())
print(dataclasses.asdict(p3))

{'x': 10, 'y': 12}
{'x': 10, 'y': 12}
{'x': 10, 'y': 12}

 Replacing values in an immutable data class
Returns a new object

In [1]:
from collections import namedtuple
from typing import NamedTuple
from dataclasses import dataclass
import dataclasses 


Pointnamedtuple = namedtuple('Point', 'x y')


class PointNamedTuple(NamedTuple):
    x: int
    y: int

    def __str__(self):
        return f'x: {self.x}; y: {self.y}'

@dataclass
class Pointdataclass:
    x: int
    y: int

    def __str__(self):
        return f'x: {self.x}; y: {self.y}'

p1 = Pointnamedtuple(10, 12)
p2 = PointNamedTuple(10, 12)
p3 = Pointdataclass(10, 12)
print(p1._replace(x=5))
print(p2._replace(x=5))
print(dataclasses.replace(p3, x=5))

Point(x=5, y=12)
x: 5; y: 12
x: 5; y: 12

In [21]:
class Person:
    def __init__(self, first_name, last_name, email):
        self.first_name =  first_name
        self.last_name = last_name
        self.email = email
    def __repr__(self):
        return f'{self.first_name} {self.last_name}'
    def get_email(self):
        return self.email

    def get_full_name(self):
        return f'{self.last_name}, {self.first_name}'

In [22]:
class Student(Person):

    def __init__(self, first_name, last_name, email, program):
        super().__init__(first_name, last_name, email)
        self.program = program

class Student(Person):
    PROGRAMS = ['graduate', 'undergraduate']

    def __init__(self, first_name, last_name, email, program):
        super().__init__(first_name, last_name, email)
        if program.lower() not in self.PROGRAMS:
            raise ValueError('program can only be "graduate" or "undergraduate"')
        self.program = program.lower()
        self.classes = []


    def enroll(self, name_of_course):
        self.classes.append(name_of_course)

    def print_classes(self):
        classes = ', '.join(self.classes)
        print(f'{classes}')

s1 = Student('john', 'doe', 'jdoe@example.edu', 'gradUate')
print(s1)
s1.enroll('abc')
s1.enroll('abc')
s1.enroll('efg')
s1.enroll('hij')
s1.print_classes()

john doe
abc, abc, efg, hij

In [23]:
class Student(Person):
    PROGRAMS = ['graduate', 'undergraduate']

    def __init__(self, first_name, last_name, email, program):
        super().__init__(first_name, last_name, email)
        if program.lower() not in self.PROGRAMS:
            raise ValueError('program can only be "graduate" or "undergraduate"')
        self.program = program
        self.classes = []


    def enroll(self, name_of_course):
        if name_of_course not in self.classes:
            self.classes.append(name_of_course)
        else:
            print(f'Already enrolled in {name_of_course} {self.get_full_name()}!')

    def print_classes(self):
        classes = ', '.join(self.classes)
        print(f'{classes}')

    def print_self(self):
        print(self)

s1 = Student('john', 'doe', 'jdoe@example.edu', 'graduate')
print(s1)
s1.enroll('abc')
s1.enroll('abc')
s1.enroll('efg')
s1.enroll('hij')
s1.print_classes()

john doe
Already enrolled in abc doe, john!
abc, efg, hij

In [26]:
class Student(Person):
    PROGRAMS = ['graduate', 'undergraduate']
    MAX_CREDITS = 9

    def __init__(self, first_name, last_name, email, program):
        super().__init__(first_name, last_name, email)
        if program.lower() not in self.PROGRAMS:
            raise ValueError('program can only be "graduate" or "undergraduate"')
        self.program = program
        self.classes = []
        self.enrolled_credits = 0

    def enroll(self, course):
        if self.enrolled_credits < self.MAX_CREDITS:
            self.classes.append(course)
            self.enrolled_credits += course.credits
        else:
            print('Cannot enroll')
        if self.get_total_credits() + course.credits > self.MAX_CREDITS:
            print(f'You will be over the max credits! Cannot add {course}.')
            return

        if course not in self.classes:
            self.classes.append(course)
        else:
            print(f'Already enrolled in {course}!')

    def print_classes(self):
        classes = ', '.join(sorted([i.course_name for i in self.classes]))
        print(f'{classes}')


    def get_total_credits(self):
        total_credits = 0
        for ele in self.classes:
            total_credits += ele.credits
        return total_credits

class Course:
    def __init__(self, course_name, credits):
        self.course_name = course_name
        self.credits = credits

    def __repr__(self):
        return f'{self.course_name}'

    def __str__(self):
        return f'{self.course_name}'


    def get_course_name(self):
        return self.course_name


c1 = Course('Math', 3)
c2 = Course('Physics', 4)
c3 = Course('Chemistry', 3)
c4 = Course('English', 3)

s1 = Student('john', 'doe', 'jdoe@example.edu', 'graduate')
print(s1)
s1.enroll(c1)
s1.enroll(c1)
s1.enroll(c3)
s1.enroll(c4)
s1.enroll(c2)
s1.print_classes()

john doe
Already enrolled in Math!
Already enrolled in Math!
You will be over the max credits! Cannot add Chemistry.
Cannot enroll
You will be over the max credits! Cannot add English.
Cannot enroll
You will be over the max credits! Cannot add Physics.
Chemistry, Math, Math

Exercise 2
Write a Beverage class whose instances will represent beverages. Each beverage should have two attributes: a name (describing the beverage) and a temperature. Create several beverages and check that their names and temperatures are all handled correctly.

In [27]:
class Beverage:
    def __init__(self, name, temp):
        self.name =  name
        self.temp = temp
    def __repr__(self):
        return f'{self.name}: {self.temp}'
b1 = Beverage('Coke', 60)
b2 = Beverage('Pepsi', 90)
b3 = Beverage('Sprite', 120)

beverages = [b1, b2, b3]
for beverage in beverages:
    print(beverage)

Coke: 60
Pepsi: 90
Sprite: 120

In [28]:
class Beverage:
    def __init__(self, name, temp = 75):
        self.name =  name
        self.temp = temp
    def __repr__(self):
        return f'{self.name}: {self.temp}'
b1 = Beverage('Coke', 60)
b2 = Beverage('Pepsi')
b3 = Beverage('Sprite', 120)

beverages = [b1, b2, b3]
for beverage in beverages:
    print(beverage)

Coke: 60
Pepsi: 75
Sprite: 120

Create a new LogFile class that expects to be initialized with a filename. Inside of __init__, open the file for writing and assign it to an attribute, file, that sits on the instance. Check that it’s possible to write to the file via the file attribute.

In [29]:
class Logfile:
    def __init__(self, filename):
        self.filename = filename
        self.file = None
        
    def open_file(self):
        self.file = open(self.filename, 'w')
        
    def write_row(self, row):
        self.file.write(f'{row.strip()}\n')
        
    def close_file(self):
        self.file.close()
        

        
l1 = Logfile('log1.txt')
l1.open_file()

for row in ['abc', 'efg', 'hij']:
    l1.write_row(row)
    
l1.close_file()

l2 = Logfile('log2.txt')
l2.open_file()

for row in ['ABC', 'EFG', 'DHIJ']:
    l2.write_row(row)
    
l2.close_file()

Employee – Abstract

variables (properties)

lastname

firstname

social_security_number

functions (methods)

repr –

earnings() –

SalariedEmployee – inherits from Employee

CommissionEmployee – inherits from Employee

HourlyEmployee – inherits from Employee

BasePlusCommissionEmployee – inherits from CommissionEmployee

Demonstrate polymorphism

In [34]:
# Java How to Program Deitel et. al

from abc import ABC, abstractmethod


class Employee(ABC):

    def __init__(self, first_name, last_name, ssn):
        self.first_name = first_name
        self.last_name = last_name
        self.ssn = ssn

    @abstractmethod
    def earnings(self):
        pass

    def __repr__(self):
        return f'{self.first_name} {self.last_name}\nsocial security: {self.ssn}'


class SalariedEmployee(Employee):
    def __init__(self, first_name, last_name, ssn, salary):
        super().__init__(first_name, last_name, ssn)
        self.weekly_salary = salary

    def earnings(self):
        return self.weekly_salary

    def __repr__(self):
        return f'salaried employee: {super().__repr__()}\nweekly salary: ${self.weekly_salary}'


class HourlyEmployee(Employee):
    def __init__(self, first_name, last_name, ssn, hourly_wage, hours_worked):
        super().__init__(first_name, last_name, ssn)
        self.hourly_wage = hourly_wage
        self.hours_worked = hours_worked

    def earnings(self):
        if self.hours_worked < 40:  # no overtime
            earned = self.hourly_wage * self.hours_worked
        else:
            earned = 40 * self.hourly_wage + \
                (self.hours_worked - 40) * self.hourly_wage * 1.5

        return earned

    def __repr__(self):
        return f'hourly employee: {super().__repr__()}\nhourly wage: ${self.hourly_wage}; hours worked: {self.hours_worked}'


class CommissionEmployee(Employee):
    def __init__(self, first_name, last_name, ssn, sales, rate):
        super().__init__(first_name, last_name, ssn)
        self.sales = sales
        self.rate = rate

    def earnings(self):
        earned = self.sales * self.rate
        return earned

    def __repr__(self):
        return f'commission employee: {super().__repr__()}\ngross sales: ${self.sales}; commission rate: {self.rate}'


class BasePlusCommissionEmployee(CommissionEmployee):
    def __init__(self, first_name, last_name, ssn, sales, rate, salary):
        super().__init__(first_name, last_name, ssn, sales, rate)
        self.salary = salary

    def earnings(self):
        earned = self.salary + super().earnings()
        return earned

    def __repr__(self):
        return f'base-salaried {super().__repr__()}; base-salary: ${self.salary}'


print('Employees processed individually:\n')
salaried_employee = SalariedEmployee('John', 'Smith', '111-11-1111', 800)
print(salaried_employee)
print(f'earned: ${salaried_employee.earnings()}')

print()
hourly_employee = HourlyEmployee('Karen', 'Price', '222-22-2222', 16.75, 40)
print(hourly_employee)
print(f'earned: ${hourly_employee.earnings()}')

print()
commission_employee = CommissionEmployee('Sue', 'Jones', '333-33-3333', 10000, 0.06)
print(commission_employee)
print(f'earned: ${commission_employee.earnings()}')


print()
base_plus_commission_employee = BasePlusCommissionEmployee('Bob', 'Lewis', '444-44-4444', 5000, 0.04, 300)
print(base_plus_commission_employee)
print(f'earned: ${base_plus_commission_employee.earnings()}')


employees = [salaried_employee, hourly_employee,
             commission_employee, base_plus_commission_employee]

for employee in employees:
    print()
    print(employee)
    if employee.__class__.__name__ == 'BasePlusCommissionEmployee':
        employee.salary = 1.10 * employee.salary
        print(f'new base salary with 10% increase is {employee.salary}')
    print(f'earned: ${employee.earnings()}')

Employees processed individually:

salaried employee: John Smith
social security: 111-11-1111
weekly salary: $800
earned: $800

hourly employee: Karen Price
social security: 222-22-2222
hourly wage: $16.75; hours worked: 40
earned: $670.0

commission employee: Sue Jones
social security: 333-33-3333
gross sales: $10000; commission rate: 0.06
earned: $600.0

base-salaried commission employee: Bob Lewis
social security: 444-44-4444
gross sales: $5000; commission rate: 0.04; base-salary: $300
earned: $500.0

salaried employee: John Smith
social security: 111-11-1111
weekly salary: $800
earned: $800

hourly employee: Karen Price
social security: 222-22-2222
hourly wage: $16.75; hours worked: 40
earned: $670.0

commission employee: Sue Jones
social security: 333-33-3333
gross sales: $10000; commission rate: 0.06
earned: $600.0

base-salaried commission employee: Bob Lewis
social security: 444-44-4444
gross sales: $5000; commission rate: 0.04; base-salary: $300
new base salary with 10% increase is 330.0
earned: $530.0

In [35]:
import math
class Circle:

    def __init__(self, radius):
        self.radius = radius

    def get_area(self):
        return math.pi * self.radius**2


    def __repr__(self):
        return "Circle with radius " + str(self.radius)
    def __str__(self):
        return "Circle with radius " + str(self.radius)

c1 = Circle(10)
c2 = Circle(5)

print(c1)
print(c2)
print(c2.get_area())

Circle with radius 10
Circle with radius 5
78.53981633974483

In [36]:
#Add
class Circle:

    def __init__(self, radius):
        self.radius = radius

    def get_area(self):
        return math.pi * self.radius**2

    def __str__(self):
        return "Circle with radius " + str(self.radius)

    def __add__(self, another_circle):
        return Circle(self.radius + another_circle.radius)


c1 = Circle(10)
c2 = Circle(5)
c3 = c1 + c2 ### ==> c1.__add__(c2) ==> Circle.__add__(c1, c2)
print(c3)

Circle with radius 15

Three Requirements:

iter() initializes the iterator class. Its purpose is to reset the state of the iterator, which means resetting the value.

next() requires you to save the current value, increment it, and then return or emit it.

Raise `StopIteration`` when you have exhausted your values.

In [39]:
class MyRange:

    def __init__(self, limit):
        self.limit = limit

    def __iter__(self):
        self.value = 0
        return self

    def __next__(self):
        if self.value < self.limit:
            output = self.value
            self.value += 1
            return output
        else:
            raise StopIteration


i = iter(MyRange(10))
next(i)
for ele in MyRange(10):
    print(ele)


class PowX:
    def __init__(self, limit, power):
        self.limit = limit
        self.power = power

    def __iter__(self):
        self.value = 0
        return self

    def __next__(self):
        if self.value < self.limit:
            output = self.value**self.power
            self.value += 1
            return output
        else:
            raise StopIteration


for ele in PowX(10, 3):
    print(ele)


## lets use generator

def PowX(limit, power):
    value = 0
    while value < limit:
        yield value**power
        value += 1

for ele in PowX(10, 3):
    print(ele)

new_list = []
for number in numbers:

    if number % 2 == 0:
        new_list.append(number)

0
1
2
3
4
5
6
7
8
9
0
1
8
27
64
125
216
343
512
729
0
1
8
27
64
125
216
343
512
729

NameError: name 'numbers' is not defined

In [40]:
class TestClass:
    class_variable = 1 # Belongs to the class. Shared by all instances



t1 = TestClass()
t2 = TestClass()


print('\nPrint class_variable')
print('t1.class_variable: ', t1.class_variable)
print('t2.class_variable: ', t2.class_variable)


print('\nChange class_variable in class definition and print class_variable')
TestClass.class_variable = 2
print('t1.class_variable: ', t1.class_variable)
print('t2.class_variable: ', t2.class_variable)


print('\nChange class_variable in instance t1 and print class_variable')
t1.class_variable = 3
print('t1.class_variable: ', t1.class_variable)
print('t2.class_variable: ', t2.class_variable)


print('\nChange class_variable in instance t2 and print class_variable')
t2.class_variable = 4
print('t1.class_variable: ', t1.class_variable)
print('t2.class_variable: ', t2.class_variable)


print('\n', '-'*60, '\n')

class TestClass:
    class_variable = 1 # Belongs to the class. Shared by all instances

    def __init__(self, instance_variable):
        self.instance_variable = instance_variable


t1 = TestClass(1)
t2 = TestClass(2)


print('\nPrint class_variable')
print('t1.class_variable: ', t1.class_variable)
print('t2.class_variable: ', t2.class_variable)

print('\nPrint instance_variable')
print('t1.instance_variable: ', t1.instance_variable)
print('t2.instance_variable: ', t2.instance_variable)


print('\nChange class_variable in class definition and print class_variable')
TestClass.class_variable = 2
print('t1.class_variable: ', t1.class_variable)
print('t1.class_variable: ', t2.class_variable)


print('\nChange instance_variable for t1 and print instance_variable')
t1.instance_variable = 10
print('t1.instance_variable: ', t1.instance_variable)
print('t2.instance_variable: ', t2.instance_variable)

print('\nChange instance_variable for t2 and print instance_variable')
t2.instance_variable = 20
print('t1.instance_variable: ', t1.instance_variable)
print('t2.instance_variable: ', t2.instance_variable)


print('\nChange class_variable in instance t1 and print class_variable')
t1.class_variable = 3
print('t1.class_variable: ', t1.class_variable)
print('t2.class_variable: ', t2.class_variable)


print('\nChange class_variable in instance t2 and print class_variable')
t2.class_variable = 4
print('t1.class_variable: ', t1.class_variable)
print('t2.class_variable: ', t2.class_variable)



print('\n', '-'*60, '\n')


class TestClass:
    class_variable = 1

    # @staticmethod are bound to class rather than object. Therefore, to use them, you do not have
    # to instantiate an object.
    # NOTE: staticmethods do no have access to class properties (variables or methods).
    # This means they cannot access class_variable.
    # Such methods are used when you do not want subclasses to change/overwrite a specific method.

    @staticmethod
    def add(number1, number2):
        return number1 + number2


print('@staticmethod add: ', TestClass.add(3,4))


class TestClass2:
    class_variable = 1

    # @staticmethod are bound to class rather than object. Therefore, to use them, you do not have
    # to instantiate an object.
    # NOTE: staticmethods do no have access to class properties (variables or methods).
    # This means they cannot access class_variable.
    # Such methods are used when you do not want subclasses to change/overwrite a specific method.

    @staticmethod
    def add(number1, number2):
        return number1 + number2# + class_variable

print('@staticmethod add: ', TestClass2.add(3,4))
print('\n', '-'*60, '\n')

class TestClass:
    class_variable = 1

    # @classmethod are bound to class rather than object. Therefore, to use them, you do not have
    # to instantiate an object.
    # NOTE: Unlike staticmethods, classmethods do have access to class properties (variables or methods).
    # This means they can access class_variable.

    @classmethod
    def add(cls, number1, number2):
        return number1 + number2
print('@classmethod add: ', TestClass.add(5,6))



class TestClass2:
    class_variable = 1

    # @classmethod are bound to class rather than object. Therefore, to use them, you do not have
    # to instantiate an object.
    # NOTE: Unlike staticmethods, classmethods do have access to class properties (variables or methods).
    # This means they can access class_variable.

    @classmethod
    def add(cls, number1, number2):
        return number1 + number2 + cls.class_variable

print('@classmethod add -- access to class variable: ', TestClass2.add(5,6))


print('\n', '-'*60, '\n')


class TestClass:
    class_variable = 1

    @staticmethod
    def add_static(number1, number2):
        return number1 + number2

    @classmethod
    def add_class(cls, number1, number2):
        return number1 + number2 + cls.class_variable


    def add_object(self, number1, number2):
        return number1 + number2 + self.class_variable + 29


print('add_static: ', TestClass.add_static(13,14))
print('add_class: ', TestClass.add_class(13,14))


t1 = TestClass()

print('Call from class -- add_object: ', TestClass.add_object(t1, 13, 14))
print('Call from object -- add_object: ', t1.add_object(13, 14))

Print class_variable
t1.class_variable:  1
t2.class_variable:  1

Change class_variable in class definition and print class_variable
t1.class_variable:  2
t2.class_variable:  2

Change class_variable in instance t1 and print class_variable
t1.class_variable:  3
t2.class_variable:  2

Change class_variable in instance t2 and print class_variable
t1.class_variable:  3
t2.class_variable:  4

 ------------------------------------------------------------


Print class_variable
t1.class_variable:  1
t2.class_variable:  1

Print instance_variable
t1.instance_variable:  1
t2.instance_variable:  2

Change class_variable in class definition and print class_variable
t1.class_variable:  2
t1.class_variable:  2

Change instance_variable for t1 and print instance_variable
t1.instance_variable:  10
t2.instance_variable:  2

Change instance_variable for t2 and print instance_variable
t1.instance_variable:  10
t2.instance_variable:  20

Change class_variable in instance t1 and print class_variable
t1.class_variable:  3
t2.class_variable:  2

Change class_variable in instance t2 and print class_variable
t1.class_variable:  3
t2.class_variable:  4

 ------------------------------------------------------------

@staticmethod add:  7
@staticmethod add:  7

 ------------------------------------------------------------

@classmethod add:  11
@classmethod add -- access to class variable:  12

 ------------------------------------------------------------

add_static:  27
add_class:  28
Call from class -- add_object:  57
Call from object -- add_object:  57